@import 'variables&mixins.scss';

.blog {
    width: 59%;
    margin: 0 auto;
    margin-bottom: 104px;
    &__header {
        font-size: 44px;
        line-height: 60px;
        font-weight: 700;
    }

    &__title {
        font-size: 30px;
        line-height: 44px;
    }
    &__item {
        position: relative;
        padding-bottom: 10px;
        border-bottom: 1px solid #e0e0e0;
    }

}

.description {
    font-size: 20px;

    &__date {
        margin-right: 47px;
        position: relative;
    }

    &__date::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 21px;
        background-color: #000;

        top: 4px;
        left: 135px;

    }

    &__type {
        color: var(--type-color);
    }
}
@media (max-width: 480px){
    .blog{
        width: 90%;
        &__header {
            font-size: 30px;
        }
        &__title {
            font-size: 26px;
        }

    }
}
@media (min-width: 480px) and (max-width: 899px){
    .blog{
        width: 74%;
        
    }
}