.header{
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    font-size: 20px;
    font-weight: 500;
    &-svg{
        fill: #000;
    }

}
.header-nav-list{
    display: flex;
    gap: 36px;
}
