
.header-navigation{
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    font-size: 20px;
    font-weight: 500;
    &-svg{
        fill: #000;
    }

}
.header-nav-list{
    display: flex;
    gap: 36px;
    &__link:hover,
    &__link:focus {
        color: var(--orange-color);
        transition: .3s;
    }
}
.header-button{
    display: none;
}
@media (max-width: 1152px){
    .header{

        max-width: 100%;
    }

    .header-nav-list{
        display: none;
    }
    .header-button{
        display: block;
        width: 1px;
        height: 1px;
        margin: -1;
        padding: 0;

        outline: none;
        border: none;

        position: relative;

    }

    .header-button::after{   
        position: absolute;
        content: "";
        top: 5px;
        right: 18px;
        width: 30px;
        height: 2px;
        background-color: #000;

        box-shadow: 0 9px 0 0 #000, 0 18px 0 0 #000;
    }

}
