.header{
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    font-size: 20px;
    font-weight: 500;
    &-svg{
        fill: #000;
    }

}
.header-nav-list{
    display: flex;
    &__item{
        margin-right: 36px;
    }
    &:last-child{
        margin-right: 0;
    }
}
