@import 'header.scss';
@import 'resume.scss';


body {
    font-family: 'Heebo', sans-serif;
    width: 1152px;
    margin: 0 auto;
    padding: 0;
}

.index-container {
    width: 74%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}