@import './BEM/header.scss';
@import './BEM/resume.scss';
@import './BEM/posts.scss';
@import './BEM/works.scss';
@import './BEM/footer.scss';
@import './BEM/bloginnerpage.scss';
@import './BEM/workinnerpage.scss';
@import './BEM/dashboard.scss';

@import './Variables/variables.scss';

body {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    line-height: 24px;

    max-width: 1152px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    color: #21243D;
}
img{
    max-width: 100%;
    height: auto;
}
.index-container {
    max-width: 856px;
    margin: 0 auto;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #21243D;
}
@media (max-width: 900px){

}