@import 'variables&mixins.scss';

.work-list {
    width: 59%;
    margin: 90px auto 160px;

}

.sample-works {
    display: flex;
    flex-direction: column;
    gap: 90px;

    &__link {
        cursor: default;
        color: inherit;
    }

    &__content {
        display: flex;
        gap: 18px;
        position: relative;

        &_first::after {
            position: absolute;
            content: "";
            top: 220px;
            @include gray-line;
        }

        &_second::after {
            position: absolute;
            content: "";
            top: 220px;
            @include gray-line;
        }

        &_thirst::after {
            position: absolute;
            content: "";
            top: 220px;
            @include gray-line;
        }

        &_fourth::after {
            position: absolute;
            content: "";
            top: 220px;
            @include gray-line;
        }

    }

    &__title {
        font-size: 30px;
        line-height: 44px;

        font-weight: 700;
        margin: 0;

        cursor: pointer;
    }

    &__date {
        display: inline-block;
        font-size: 18px;
        line-height: 18px;

        font-weight: 700;
        margin-right: 36px;
        padding: 5px;
        color: #fff;
        background-color: var(--data-color);
        border-radius: 16px;
    }

    &__type {
        font-size: 20px;
        line-height: 29px;
        color: var(--type-color);
    }
    &__text{
        cursor: pointer;
    }
    &__image{
        cursor: pointer;
    }

}