.resume{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
    &__title{
        font-size: 44px;
        line-height: 60px;
        font-weight: 700;
    }
    &__paragraph{
        margin-bottom: 38px;
    }
    &__button{
        font: inherit;
        font-size: 20px;
        padding: 7px 19px;
        color: #FFF;
        background-color: var(--orange-color);
        border: 0;
    }
    &__button:hover,
    &__button:focus{
        background-color: var(--orange-color);
        opacity: .7;
        transition: .5s;
    }
    &__img:hover,
    &__img:focus{
        opacity: 0.7;
        transition: .5s;
    }

}
@media (max-width: 480px){

    .resume{
        flex-direction: column-reverse;
        text-align: center;

        max-width: 330px;

        padding: 0 15px 60px;
        margin: 0 auto;
    }


}
@media (min-width: 480px) and (max-width:899px){
    .resume{
        padding: 0 15px;
    }
}