.works {
    margin-bottom: 115px;
    display: flex;
    flex-direction: column;
    gap: 56px;

    &__content {
        display: flex;
        gap: 18px;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--line-color);
    }

    &__image {
        width: 246px;
        height: 180px;
    }

    &__title {
        font-size: 30px;
        line-height: 44px;
    }

    &__title,
    &__text {
        margin: 0;

    }

    &__info {
        display: flex;
        align-items: center;
        margin: 15px 0;
    }

    &__data {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        margin-right: 36px;
        padding: 5px;
        color: #fff;
        background-color: var(--data-color);
        border-radius: 16px;
    }

    &__type {
        font-size: 20px;
        line-height: 29px;
        color: var(--type-color);

    }
}
@media (max-width: 480px){
    .works__content{
        flex-direction: column;
        margin: 0 15px;
    }
    .works__image{
        max-width: 100%;
        height: auto;
        margin: 0 auto;

    }
    .works__header{
        text-align: center;
        font-weight: 500;
        font-size: 18px;
    }
}
@media (min-width: 480px) and (max-width: 899px){
    .works__content{
       margin: 0 15px; 
    }
    
}